@import "tailwindcss";

body {
    background-color: #202124;
    background-image: url("../images/ville-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    color: azure;
}

#page-header {

    /** Layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    /* Colors */
    background : linear-gradient( to right, #000401,  #0c2d48cf ) ; /* #0c2d48e8;*/
}

#search-div{
    background-color: #0004012b;
    color: #c3e0e5 ;
    border: 2px solid #c3e0e5 ;
    border-radius: 2em;
    @apply m-3 ;
}

#main-section{
    background : linear-gradient(to right,#07131eb8,#b6e2d347) ;
    height: 100vh;

    display: grid;
    grid-template-columns: 10% 50% 40%;
}

#titre{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 200%;
    text-transform: uppercase;
}

#site-description{

    font-family: 'Times New Roman', Times, serif;

    border-radius: 5em;
    
    cursor: default;

    background-color: rgba(3, 9, 14, 0.849);

}

#booking-button{
    width: fit-content;
    border: 1px solid white;
    border-radius: 1em;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    @apply hover:cursor-pointer ;
    @apply hover:bg-[#03090e90];

}

.navlinks-anchor{
    @apply hover:text-[#202124];
}

